
MSI_Exercise_6/Metadaten_Geraete_Windrichtung_01346.txt
MSI_Exercise_6/Metadaten_Geraete_Windgeschwindigkeit_01346.txt
MSI_Exercise_6/Metadaten_Geographie_01346.txt
MSI_Exercise_6/Metadaten_Geraete_Windgeschwindigkeit_01346.html
MSI_Exercise_6/stundenwerte_FF_01346_19550101_20161231_hist.zip
MSI_Exercise_6/Metadaten_Stationsname_01346.txt
MSI_Exercise_6/Metadaten_Stationsname_01346.html
MSI_Exercise_6/Metadaten_Parameter_ff_stunde_01346.txt
MSI_Exercise_6/Metadaten_Parameter_ff_stunde_01346.html
MSI_Exercise_6/Metadaten_Geraete_Windrichtung_01346.html
